@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap&family=Raleway:wght@100;200;300;400;500;600;700;800;900');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', 'Raleway', sans-serif;
    word-break: keep-all;
    line-height: 1;
    color: #ddd;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* clearfix */
.cf:after,
.clearfix:after,
.row:after {
    content: "";
    display: block;
    clear: both;
}